"*":
  "atom-beautify":
    general:
      analytics: false
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
      formatOnType: false
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      showDirectoryColumn: true
    "atom-ide-outline-view": {}
  "atom-package-deps":
    ignored: [
      "linter-pylint"
    ]
  "autoclose-html":
    additionalGrammars: [
      "text.html.django"
    ]
    closeOnEndOfOpeningTag: false
    forceInline: [
      "title"
      "pre"
    ]
    makeNeverCloseSelfClosing: false
  "autoupdate-packages":
    handling: "Update automatically and silently"
    lastUpdateTimestamp: 1598280869941
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "language-django"
      "exception-reporting"
      "linter-mypy"
    ]
    ignoredNames: [
      "*.git"
      "*.pyc"
      "*.egg-info"
      ".DS_Store"
    ]
    reopenProjectMenuCount: 10
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "spacedust"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
    tabLength: 4
  "fuzzy-finder":
    ignoredNames: [
      "/**/migrations/*.py"
    ]
  "ide-python":
    pylsPlugins:
      pycodestyle:
        enabled: false
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
  "linter-eslint":
    disabling:
      disableWhenNoEslintConfig: false
  "linter-flake8":
    executablePath: "/Users/jonklo/Code/tienda/.venv/bin/flake8"
  "linter-mypy":
    executablePath: "/Users/jonklo/.pyenv/versions/tienda-3.7.5/bin/python"
    mypyPath: "/Users/jonklo/.pyenv/versions/tienda-3.7.5/bin/mypy"
  "linter-pylint":
    disableTimeout: true
    executablePath: "/Users/jonklo/Code/tienda/.venv/bin/pylint"
  "linter-stylelint":
    showIgnored: true
  "linter-ui-default":
    panelHeight: 236
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      excludedGlobs: [
        "*.html"
      ]
  "python-black":
    binPath: "/Users/jonklo/Code/tienda/.venv/bin/black"
  "python-isort":
    isortPath: "/Users/jonklo/Code/tienda/.venv/bin/isort"
    sortOnSave: true
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
